<div class="author">
  <h1 class="author__heading">Nicky's Web Development Blog</h1>
  <p class="author__body">Exploring the world of web development</p>
</div>
<img
  src="/img/sad-image.webp"
  alt="person looking out through window"
  class="sad-image"
  width="981"
  height="528"
/>
<section class="articles">
  <h2 class="articles__heading">Lastest Posts</h2>
  <ul class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>">
        <span><%= post.title %></span>
        <span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        >
      </a>
    </li>
    <% }) %>
  </ul>
  <% if (nextPage!==null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
